.useradd-svg{
    width: 90%;
    height: 90%;
}

.slider-style{
    width:50% !important;
    align-items: center;
    position: relative;
    left: 25%;
}

.select-tag{
    background-color: rgb(247, 247, 247);
    margin-left: 25px;
    margin-right: 25px;
}

h1{
    font-family: 'Cookie', cursive;
    color: white;
    text-align: center;
}

.project-view-box{
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 22.3px 17.9px rgba(0.06, 0, 0.06, 0.172);
    
}

.project-title{
    background-color: #2F363F ;
    border-radius: 5px 5px 0px 0px;
}
h5{
    position: relative;
    left: 25px;
    right: 25px;
}

